body {
  background: url('../img/background.jpg');
  background-size: cover;
  background-attachment: fixed;
  font-family: Open sans, Helvetica, sans-serif;
  padding-top: 50px;
}

.error {
  margin-top: 30px;
}

.navbar-inverse .navbar-brand {
  color: #ccc;
  text-transform: uppercase;
}

#menu {
  list-style: none;
}

#menu li {
  display: inline-block;
  margin: 10px;
  color: #ccc;
  text-transform: uppercase;
  padding-top: 5px;
}

#menu li::before {
  content: "|   ";
  padding-right: 10px;
}

.container {
  margin-bottom: 30px;
}

#main {
  background-color:rgba(255, 255, 255, 0.7);
  margin-top: 60px;
  border-radius: 10px;
}

#tweet-list {
  padding: 10px 20px 10px 20px;
}

#tweet {
  padding: 20px 10px 20px 10px;
  background-color: rgba(255,255,255, 0.9);
  margin-bottom: 10px;
  border-radius: 10px;
}


#log-in, #sign-up {
  padding-bottom: 20px;
}

#user {
  text-align: center;
  background-color: rgba(255,255,255, 0.9);
  border-radius: 10px;
  margin: 10px;
}

#user-list {
  padding-left: 0px;
}

#user-profile {
  text-align: center;
  padding-bottom: 10px;
}

#logout-button {
  margin-right: 0px;
}


