body {
  background: url('../img/background.jpg');
  background-size: contain;
  font-family: Open sans, Helvetica, sans-serif;
}

.container {
  margin-bottom: 30px;
}

#main {
  background-color:rgba(255, 255, 255, 0.7);
  margin-top: 60px;
  border-radius: 10px;
}

#tweet-list {
  padding: 10px 20px 10px 20px;
}

#tweet {
  padding: 20px 10px 20px 10px;
  background-color: rgba(255,255,255, 0.9);
  margin-bottom: 10px;
  border-radius: 10px;
}


