<h2>Sign Up</h2>
    <form action="/users/new" method="POST">

        <label>Fullname</label>
            <input type="text" name="fullname" class="span3">

        <label>Email Address</label>
            <input type="text" name="email" class="span3">

        <label>Username</label>
            <input type="text" name="email" class="span3">

        <label>Password</label>
            <input type="password" name="password" class="span3">

        <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>

        <input type="submit" value="Sign up" class="btn btn-primary pull-right">
        <div class="clearfix"></div>
    </form>

<h2>Login</h2>

    <form action="login" method="POST">

        <label>Username</label>
            <input type="text" name="handle" class="span3">

        <label>Password</label>
            <input type="password" name="password" class="span3">

        <input type="submit" value="Login" class="btn btn-primary pull-right">
        <div class="clearfix"></div>

    </form>
