<%= session[:error] unless session[:error].nil? %>


<div class="col-md-6" id="sign-up">
<h2>Sign Up</h2>
    <div class="form-group">
    <form action="/users/new" method="POST">

            <p><input type="text" name="fullname" class="form-control" placeholder="Full name"></p><br />

            <p><input type="text" name="email" class="form-control" placeholder="Email address"></p><br />

            <p><input type="text" name="handle" class="form-control" placeholder="Username"></p><br />

            <p><input type="password" name="password" class="form-control" placeholder="Password"></p><br />

        <label><input type="checkbox" name="terms"> I agree with the <a href="#">Terms and Conditions</a>.</label>

        <input type="submit" value="Sign up" class="btn btn-primary pull-right">
    </form>
</div>
</div>
<div class="col-md-6" id="log in">
<h2>Login</h2>
    <div class="form-group">
    <form action="login" method="POST" name="login" id='login-form'>

            <p><input type="text" name="handle" class="form-control" placeholder="Username"></p><br />

            <p><input type="password" name="password" class="form-control" placeholder="Password"></p><br />

            <input type="submit" value="Login" class="btn btn-primary pull-right">
    </form>
</div>
</div>
